/*@import url("https://code.cdn.mozilla.net/fonts/fira.css");*/
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body {
	font-family: 'Fira Code', monospace !important;
	/*font-size: 1rem !important;*/
}

pre.wp-block-preformatted {
	border-left: 4px solid #04AA6D;
	padding: 8px 12px;
	background-color: #F8F9FA;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	/*background-color: darkgreen !important;*/
}

.gogogo a {
	/*color: green;*/
}

.gogogo .blockquote-footer {
	margin-bottom: 0px;
}

.wp-block-group h2 {
	font-size: 1.75rem;
	font-weight: lighter;
	/*font-style: italic;*/
	/*border-bottom: 1px solid #f8f9fa;*/
}

.blog-post-title {
	margin-bottom: 0px;
}

.blog-post-title a {
	text-decoration: none;
	color: black;
}

.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

/*header.css*/
.b-example-divider {
	height: 3rem;
	background-color: rgba(0, 0, 0, .1);
	border: solid rgba(0, 0, 0, .15);
	border-width: 1px 0;
	box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.form-control-dark {
	color: #fff;
	background-color: var(--bs-dark);
	border-color: var(--bs-gray);
}

.form-control-dark:focus {
	color: #fff;
	background-color: var(--bs-dark);
	border-color: #fff;
	box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.bi {
	vertical-align: -.125em;
	fill: currentColor;
}

.text-small {
	font-size: 85%;
}

.dropdown-toggle {
	outline: 0;
}